/* "C:\Users\lanch\OneDrive\Desktop\Skills Practice Site\JoyfullTots.css" */
.headermain1 {
    background-color: aqua;
    column-rule-width: 20px;
    border:3px double black
}

.footer {
    border-block-style: solid;
    border-left: solid;
    border-right: solid;
    border-color: rgb(68, 68, 68);
    border-width: 5px;
    height: 8em;
    Width: 12%;
}

.table1 {
    background-color: aqua;
    border: 1px solid black;
    width: 500px;
    text-align: center;
}
